.header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-image: linear-gradient(to left,#f42f42,#2fbcf5);
    border-style: none;
    border-radius: 25px;
}

.title{
    font-family: spicy rice;
    font-size: 50px;
    color: black;
}