.main{
    display: flex;
    flex-direction: row;
}

.player-area{
    display: flex;
    flex: 1;
    border-radius: 25px;
    padding:30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    font-family: roboto;
    font-size: 30px;
}

.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.js-player-area-1{
    background-color:#2fbcf5;
    
}

.js-player-area-2{
    background-color:#f42f42;
}

.reset-grid-button{
    background-color: greenyellow;
    color: Black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 50px;
}

.reset-score-button{
    background-color: greenyellow;
    color: Black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.your-turn{
    font-size: 20px;
    color: black;
    background-color:gold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.winning-player{
    font-size: 40px;
    color: black;
    background-color:gold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

